<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Flex</h1>
        <p class="page__desc">Flex布局</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="wxui-flex">
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
        </div>
        <div class="wxui-flex">
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
        </div>
        <div class="wxui-flex">
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
        </div>
        <div class="wxui-flex">
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
        </div>
        <div class="wxui-flex">
            <div><div class="placeholder">wxui</div></div>
            <div class="wxui-flex__item"><div class="placeholder">wxui</div></div>
            <div><div class="placeholder">wxui</div></div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>