<div class="page">
    <div class="page__bd" style="height: 100%;">
        <div class="wxui-tab">
            <div class="wxui-navbar">
                <div class="wxui-navbar__item wxui-bar__item_on">
                    选项一
                </div>
                <div class="wxui-navbar__item">
                    选项二
                </div>
                <div class="wxui-navbar__item">
                    选项三
                </div>
            </div>
            <div class="wxui-tab__panel">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.wxui-navbar__item').on('click', function () {
            $(this).addClass('wxui-bar__item_on').siblings('.wxui-bar__item_on').removeClass('wxui-bar__item_on');
        });
    });
</script>