<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Progress</h1>
        <p class="page__desc">进度条</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="wxui-progress">
            <div class="wxui-progress__bar">
                <div class="wxui-progress__inner-bar js_progress" style="width: 0%;"></div>
            </div>
            <a href="javascript:;" class="wxui-progress__opr">
                <i class="wxui-icon-cancel"></i>
            </a>
        </div>
        <br>
        <div class="wxui-progress">
            <div class="wxui-progress__bar">
                <div class="wxui-progress__inner-bar js_progress" style="width: 50%;"></div>
            </div>
            <a href="javascript:;" class="wxui-progress__opr">
                <i class="wxui-icon-cancel"></i>
            </a>
        </div>
        <br>
        <div class="wxui-progress">
            <div class="wxui-progress__bar">
                <div class="wxui-progress__inner-bar js_progress" style="width: 80%;"></div>
            </div>
            <a href="javascript:;" class="wxui-progress__opr">
                <i class="wxui-icon-cancel"></i>
            </a>
        </div>
        <div class="wxui-btn-area">
            <a href="javascript:;" class="wxui-btn wxui-btn_primary" id="btnUpload">上传</a>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var $progress = $('.js_progress'),
            $btnUpload = $('#btnUpload');
        var progress = 0;

        function next() {
            if(progress > 100){
                progress = 0;
                $btnUpload.removeClass('wxui-btn_disabled');
                return;
            }
            $progress.css({width: progress + '%'});
            progress = ++progress;
            setTimeout(next, 20);
        }

        $btnUpload.on('click', function(){
            if ($btnUpload.hasClass('wxui-btn_disabled')) return;

            $btnUpload.addClass('wxui-btn_disabled');
            next();
        });
    });
</script>