<div class="page">
    <div class="page__bd" style="height: 100%;">
        <div class="wxui-tab">
            <div class="wxui-tab__panel">

            </div>
            <div class="wxui-tabbar">
                <a href="javascript:;" class="wxui-tabbar__item wxui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <img src="./images/icon_tabbar.png" alt="" class="wxui-tabbar__icon">
                        <span class="wxui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                    </span>
                    <p class="wxui-tabbar__label">微信</p>
                </a>
                <a href="javascript:;" class="wxui-tabbar__item">
                    <img src="./images/icon_tabbar.png" alt="" class="wxui-tabbar__icon">
                    <p class="wxui-tabbar__label">通讯录</p>
                </a>
                <a href="javascript:;" class="wxui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="./images/icon_tabbar.png" alt="" class="wxui-tabbar__icon">
                        <span class="wxui-badge wxui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
                    </span>
                    <p class="wxui-tabbar__label">发现</p>
                </a>
                <a href="javascript:;" class="wxui-tabbar__item">
                    <img src="./images/icon_tabbar.png" alt="" class="wxui-tabbar__icon">
                    <p class="wxui-tabbar__label">我</p>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.wxui-tabbar__item').on('click', function () {
            $(this).addClass('wxui-bar__item_on').siblings('.wxui-bar__item_on').removeClass('wxui-bar__item_on');
        });
    });
</script>